* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff9e6; 
    color: #4a3b32;
    padding-bottom: 60px; 
}

.topo-site {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffb3d9; 
    text-align: center;
    padding: 30px;
    border-bottom: 5px solid #ff80bf;
}

.topo-site h1 {
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.menu-navegacao {
   position: sticky;
   top: 0;
   z-index: 1000;
    margin-top: 15px;
}

.menu-navegacao a {
    position: sticky;
    top: 0;
    z-index: 1000;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
.conteudo-principal {
    display: flex;
    max-width: 1000px;
    margin: 30px auto;
    gap: 20px;
    padding: 0 15px;
}
#inicio {
    flex: 2;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    position: relative; 
}
.postagem1 {
    flex: 2;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    position: relative; 
}

.postagem1 h3 {
    color: #ff66b2;
    margin-bottom: 15px;
}

.postagem1 p {
    margin-bottom: 15px;
    line-height: 1.6;
}
.postagem2 {
    flex: 2;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    position: relative; 
}

.postagem2 h3 {
    color: #ff66b2;
    margin-bottom: 15px;
}

.postagem2 p {
    margin-bottom: 15px;
    line-height: 1.6;
}